{
  "extends": ["plugin:vue/recommended", "prettier"],
  "rules": {},
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "plugins": ["vue"]
}
